* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #081010;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.loader {
    position: absolute;
} 

/**Animação Loader 1*/
@keyframes loader1 {
    50% {
        width: 300px;
        height: 300px;
    }
}

@keyframes loader1Circle {
    50% {
        border-radius: 50%;
    }
}

.loader1 {
    width: 200px;
    height: 200px;
    animation: loader1 2s ease infinite;
}

.loader1 span {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: loader1Circle 2s ease infinite;
}

.loader1 span:nth-child(1) {
    top: 0;
    left: 0;
    background-color: red;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.loader1 span:nth-child(2) {
    top: 0;
    right: 0;
    background-color: green;
    box-shadow: 0 0 20px rgb(0, 128, 0);
}

.loader1 span:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: blue;
    box-shadow: 0 0 20px rgb(0, 0, 255);
}

.loader1 span:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: yellow;
    box-shadow: 0 0 20px rgb(255, 255, 0);
}

/**Animação Loader 2*/
@keyframes loader2 {
    0%, 40%, 100% { 
        transform: scale(1);
    }
    60% {
        transform: scale(2)
    }
}

.loader2 {
    width: 200px;
    height: 100px;
}

.loader2 span {
    width: 20px;
    height: 100px;
    position: absolute;
    top: 0;
    border-radius: 20px;
}

.loader2 span:nth-child(1) {
    left: 0;
    background-color: violet;
    box-shadow: 0 0 20px violet;
    animation: loader2 2s ease infinite;
}

.loader2 span:nth-child(2) {
    left: 25px;
    background-color: indigo;
    box-shadow: 0 0 20px indigo;
    animation: loader2 2s ease infinite 0.15s;
}

.loader2 span:nth-child(3) {
    left: 50px;
    background-color: blue;
    box-shadow: 0 0 20px blue;
    animation: loader2 2s ease infinite 0.3s;
}

.loader2 span:nth-child(4) {
    left: 75px;
    background-color: green;
    box-shadow: 0 0 20px green;
    animation: loader2 2s ease infinite 0.45s;
}

.loader2 span:nth-child(5) {
    left: 100px;
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
    animation: loader2 2s ease infinite 0.6s;
}

.loader2 span:nth-child(6) {
    left: 125px;
    background-color: orange;
    box-shadow: 0 0 20px orange;
    animation: loader2 2s ease infinite 0.75s;
}

.loader2 span:nth-child(7) {
    left: 150px;
    background-color: red;
    box-shadow: 0 0 20px red;
    animation: loader2 2s ease infinite 0.9s;
}

.loader2 span:nth-child(8) {
    left: 175px;
    background-color: whitesmoke;
    box-shadow: 0 0 20px whitesmoke;
    animation: loader2 2s ease infinite 1.05s;
}

/**Animação Loader 3*/
@keyframes loader3 {
    0% {
        transform: rotate(0deg);
    }
    50%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3Before {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3After {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader3 {
    width: 200px;
    height: 200px;
    animation: loader3 2s ease infinite;
}

.loader3:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0; 
    left: 0;
    top: 0;
    border-bottom: 100px solid orange;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    animation: loader3Before 2s ease infinite;
}

.loader3:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0; 
    bottom: 0;
    left: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    animation: loader3After 2s ease infinite;
}

/**Animação Loader 4*/
@keyframes loader4 {
    50% {
        transform: rotate(360deg);
        border-radius: 4px;
        width: 0;
        height: 0;
        border-width: 105px;
    }
}

.loader4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top-color: green;
    border-left-color: green;
    animation: loader4 2s ease infinite;
}

/**Animação Loader 5*/
@keyframes loader5 {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(380deg);
    }
    90% {
        transform: rotate(340deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader5 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgb(24, 161, 0);
    box-shadow: 0 0 20px rgb(24, 161, 0);
}

.loader5:before {
    width: 4px;
    height: 80px;
    position: absolute;
    content: '';
    left: calc(50% - 2px);
    top: 20px;
    background-color: #ddd;
    box-shadow: 0 0 20px #ddd;
    transform-origin: bottom;
    border-radius: 4px;
    animation: loader5 2s ease infinite;
}

/**Animação Loader 6*/
@keyframes loader6a {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader6b {
    0% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(-120deg);
    }
}

@keyframes loader6c {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(480deg);
    }
}

.loader6 {
    width: 200px;
    height: 200px;
}

.loader6 .loader6Inner {
    position: absolute;
    border: 2px solid transparent;
    border-top-color: #ddd;
    border-bottom-color: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 22px green, 0 0 24px blue;
}

.loader6 .loader6Inner:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loader6a 2s ease infinite;
}

.loader6 .loader6Inner:nth-child(2) {
    top: 20px;
    left: 20px;
    width: 160px;
    height: 160px;
    animation: loader6b 2s ease infinite;
}

.loader6 .loader6Inner:nth-child(3) {
    top: 40px;
    left: 40px;
    width: 120px;
    height: 120px;
    animation: loader6c 2s ease infinite;
}

/**Animação Loader 7*/
@keyframes loader7 {
    0%, 100% {
        transform: scale(0)
    }
    50% {
        transform: scale(1)
    }
}

.loader7 {
    width: 200px;
    height: 200px;
}

.loader7:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px green;
    animation: loader7 2s ease infinite;
}

.loader7:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px #ddd;
    animation: loader7 2s ease infinite 1s;
}

/**Animação Loader 8*/
@keyframes loader8 {
    50% {
        transform: rotate(0deg);
    }
}

@keyframes loader8self {
    0%, 100% {
        left: 800px;
        transform: rotateY(0deg);
    }
    48% {
        left: 1500px;
        transform: rotateY(0deg);
    }
    52% {
        transform: rotateY(180deg);
    }
    98% {
        left: 800px;
        transform: rotateY(180deg);
    }
    100% {
        left: 800px;
    }
}

.loader8 {
    width: 200px;
    height: 200px;
    animation: loader8self 6s linear infinite;
}

.loader8:before {
    position: absolute;
    content: '';
    width: 200px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(255, 220, 25);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px; 
    transform: rotate(-25deg);
    animation: loader8 0.5s ease infinite;
}

.loader8:after {
    position: absolute;
    content: '';
    width: 200px;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 220, 25);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; 
    transform: rotate(25deg);
    animation: loader8 0.5s ease infinite;
}